* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --grey: #d9d9d9;
  --sidebar: #b59f9f;
}

html {
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  font-family: system-ui, sans-serif;
  display: grid;
  grid-template-columns: 40rem 1fr;
  grid-template-rows: 1fr 6rem;
}

/* === SIDEBAR === */

#logo {
  width: 7rem;
}

.sidebar {
  background: var(--sidebar);
  padding: 3rem;
  display: flex;
  flex-direction: column;
  gap: 5rem;
  font-size: 2rem;
}

.h2 {
  font-size: 3rem;
  font-weight: 600;
}

.my-project-h2 {
  font-size: 2.5rem;
}

.title-div {
  display: flex;
  align-items: center;
  margin-bottom: 2.5rem;
}

.filter-section {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}

.filter-div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

/* === CONTENT === */

.content {
  padding: 3rem;
  display: flex;
  flex-direction: column;
}

.output {
  background: aqua;
  flex: 1;
}

/* === FOOTER === */

#github-logo {
  width: 3rem;
}

#github-logo:hover {
  transform: scale(1.05);
}

footer {
  grid-column: 1 / 3;
  padding: 1rem;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background: var(--grey);
}

footer a {
  text-decoration: none;
  color: #000000;
}

footer a:hover {
  text-decoration: underline;
}

/* === GLOBAL STYLES === */

button {
  cursor: pointer;
}

dialog {
  margin: auto;
}

img {
  width: 4.5rem;
}

svg {
  width: 3rem;
}
